.floatLeft { float: left;}
.floatRight { float: right;}

body {
  height: 100%;
  background-color: #ffffff;
}

/*.ui.menu{  font-family: cursive;}*/

.computer{ 
  display: none;
}

.mobile{ 
  display: none;
}

.textaligncenter{
  text-align: center !important;
}

.textalignleft{
  text-align: left !important;
}

.textalignright{
  text-align: right !important;
}

.tasklogo{
  margin-right: 2em !important;
}

.footer{
  padding: 3em !important;
}

.borderRadius0{
  border-radius: 0 !important;
}

.forgot{
  text-align: left;
  padding-top: 12px;
}

.width100{
  width: 100% !important;
}

