.floatLeft { float: left;}
.floatRight { float: right;}

body {
  height: 100%;
  background-color: #ffffff;
}
.gray{color: gray}
.floralwhite{color: floralwhite}
.royalblue{color:royalblue}
.black{color: #333333}
.logoBar {
 
  border-bottom: solid 1px #e0e0e0;
  background-color: #f7f7f7;
 
}

.loginBox{
  margin-top: 5%;
}

.facebookBox{
  padding: 0px 0px;
}
.title{
  color: green !important;
  font-size: 30px !important;
  padding-left: 7px !important;
}
.content{
  height: 200px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

.textaligncenter{
  text-align: center !important;
}

.textalignleft{
  text-align: left !important;
}


.padLR7{
  padding : 0 4px;
}

.error{
  color : floralwhite;
  background-color: indianred;
}

.success{
  color : floralwhite;
  background-color: limegreen;
}

.red {
  color: red;
}

.tasklogo{
  margin-right: 1em;
}

.footer{
  padding: 3em !important;
}

.borderRadius0{
  border-radius: 0 !important;
}