/* Mobile */
@media only screen and (max-width: 767px) {
.mobile{ 
    display: block;
}
.contain{
    margin-top: 5em !important;
    margin-bottom: 2em !important;
}
.tasktitle{
    font-size: 25px;
}
.loginBox{
    margin-top: 3em !important;
}
.headertop{
    z-index: 10;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
}
.footerbottom{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
.loginError{
    margin-top: 2em; 
}
.sidebardiv{
    margin-top: 4em !important;
    margin-bottom: 0em !important;
}
.sidebaropen{
    display: block;
}
.sidebarhide{
    display: none;
}
}