.contain{
    margin-top: 7em !important;
    margin-bottom: 5em !important;
    min-height: 450px !important;
}
.tasktitle{
    font-size: 30px;
}

.loginBox{
    margin-top: 5em !important;
}

.footer{
    padding: 3em !important;
}

/* Computer / Desktop */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Tablet */
@media only screen and (min-width: 768px) {
.loginError{
    position: absolute;
    width: 95%;
}
}

/* Mobile */
@media only screen and (max-width: 767px) {
.container{
    margin-top: 4em !important;
    margin-bottom: 4em !important;
}
.tasktitle{
    font-size: 25px;
}

.footer{
    padding: 1em !important;
}
}