.floatLeft { float: left;}
.floatRight { float: right;}

body {
  height: 100%;
  background-color: #ffffff;
}
.gray{color: gray}
.floralwhite{color: floralwhite}
.royalblue{color:royalblue}
.black{color: #333333}
.logoBar {
  height: 65px;
  border-bottom: solid 1px #e0e0e0;
  background-color: #f7f7f7;
  padding: 14px 16px;
}
.loginError{
  margin: 0 !important;
  position: absolute;
  left: 20%;
  top: 105px;
  width: 60%;
}
.loginBox{
  margin: 0% 20%;
  margin-top: 9%;
}

.facebookBox{
  padding: 81px 44px;
}
.title{
  color: green !important;
  font-size: 30px !important;
  padding-left: 7px !important;
}
.content{
  height: 200px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}